# Upstash KV environment variables for Next.js
KV_URL=
KV_REST_API_READ_ONLY_TOKEN=
KV_REST_API_TOKEN=
KV_REST_API_URL=

# local http proxy 本地VPN代理
HTTPS_PROXY=

DEFAULT_MASTODON_SERVER=m.webtoo.ls

# football-data.org free API token (used by the Premier League fixtures bar)
FOOTBALL_DATA_TOKEN=